{% extends 'base.html' %}
{% load static %}
{% block title %}
    | Create
{% endblock %}
{% block content %}
{#    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 d-none d-sm-block">#}
        <div class="row justify-content-center">

            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn hero-btn" value="Create product">
            </form>
        </div>
{#    </div>#}
{% endblock %}