{% extends 'base.html' %}
{% load static %}
{% block title %}
    | Shop
{% endblock %}
{% block content %}

    <main>
        <!-- Hero Area Start-->
        <div class="slider-area ">
            <div class="single-slider slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>T-Shirt Store</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Area End-->
        <!-- Latest Products Start -->
        <section class="popular-items latest-padding">
            <div class="container">
                <div class="row product-btn justify-content-between mb-40">
                    <div class="properties__button">
                        <!--Nav Button  -->
                        <nav>                                                      
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
{#                                <a class="nav-item nav-link {% if orderby == 'newest' %} active {% endif %}" name="newest" id="nav-home-tab" data-toggle="tab" href="#newest" role="tab" aria-controls="nav-home" aria-selected="{% if orderby == 'newest' %} 'true' {% else %} 'false' {% endif %}"> Newest Arrivals</a>#}
{% comment %}                                <a class="nav-item nav-link {% if orderby == 'newest' %} active {% endif %}" name="newest" id="nav-home-tab" data-toggle="tab" href="{% url 'shop' %}?orderby=newest" role="tab" aria-controls="nav-home" aria-selected="{% if orderby == 'newest' %} true {% else %} false {% endif %}">Newest Arrivals</a>
                                <a class="nav-item nav-link {% if orderby == 'price_high_low' %} active {% endif %}" name="price_high_low" id="nav-profile-tab" data-toggle="tab" href="{% url 'shop' %}?orderby=price_high_low" role="tab" aria-controls="nav-profile" aria-selected="{% if orderby == 'price_high_low' %} true {% else %} false {% endif %}">Price high to low</a>
                                <a class="nav-item nav-link {% if orderby == 'price_low_high' %} active {% endif %}" name="price_low_high" id="nav-contact-tab" data-toggle="tab" href="{% url 'shop' %}?orderby=price_low_high" role="tab" aria-controls="nav-contact" aria-selected="{% if orderby == 'price_low_high' %} true {% else %} false {% endif %}">Price low to high </a>
                            {% endcomment %}
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">NewestArrivals</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"> Price High to Low</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false"> Price Low to High </a>
                            </div>
                        </nav>
                        <!--End Nav Button  -->
                    </div>
                    <!-- Grid and List view -->
                    <div class="grid-list-view">
                    </div>
{% comment %}                    <!-- Select items -->
                    <div class="select-this">
                        <form action="#">
                            <div class="select-itms">
                                <select name="select" id="select1">
                                    <option value="">40 per page</option>
                                    <option value="">50 per page</option>
                                    <option value="">60 per page</option>
                                    <option value="">70 per page</option>
                                </select>
                            </div>
                        </form>
                    </div>{% endcomment %}
                </div>
                <!-- Nav Card -->
                <div class="tab-content" id="nav-tabContent">
                    <!-- card one -->
{% comment %}                    {% if orderby == 'newest' %}
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"></div>
                     {% else %}
                        <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"></div>
                    {% endif %}
                        {% include 'product_tab.html' with products=newest %}
                    </div>


                    {% if orderby == 'price_high_low' %}
                        <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"></div>
                        {% else %}
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"></div>
                    {% endif %}
                        {% include 'product_tab.html' with products=price_high_low %}
                    </div>

                    {% if orderby == 'price_low_high' %}
                        <div class="tab-pane fade show active" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"></div>
                    {% else %}
                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"></div>
                    {% endif %}
                        {% include 'product_tab.html' with products=price_low_high %}
                    </div>{% endcomment %}
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row">
                        {% include 'product_tab.html' with products=newest %}
                        </div>
                    </div>

                    <!-- Card two -->
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="row">
                        {% include 'product_tab.html' with products=price_high_low %}
                        </div>
                    </div>

                    <!-- Card three -->
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <div class="row">
                        {% include 'product_tab.html' with products=price_low_high %}
                        </div>
                    </div>
                <!-- End Nav Card -->
            </div>
        </section>
        <!-- Latest Products End -->
        <!--? Shop Method Start-->
        <div class="shop-method-area">
            <div class="container">
                <div class="method-wrapper">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-method mb-40">
                                <i class="ti-package"></i>
                                <h6>Free Shipping Method</h6>
                                <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-method mb-40">
                                <i class="ti-unlock"></i>
                                <h6>Secure Payment System</h6>
                                <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                            </div>
                        </div> 
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-method mb-40">
                                <i class="ti-reload"></i>
                                <h6>Secure Payment System</h6>
                                <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Shop Method End-->
    </main>

{% endblock %}
